.list-container{
    width:230px;
    border-width: 0.1em;
    border-radius: 0.2em;
    background-color: rgb(223, 222, 222);
    padding: 0.5px;
    margin: 0px 10px;
    &-heading{
        width: 90%;
        height: 100%;
        font-weight: 500;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        align-items: center;
        button{
            background-color: rgb(223, 222, 222);
            font-size: 20px;
            font-weight: bold;
            border-width: 0em;
        }
        button:hover {
            color: rgb(99, 98, 98);
        }
    }
}