.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header p {
  text-align: left;
  width: 100%;
  margin: 20px;
  padding: 5px;;
  font-size: 25px;
  background-color: rgba(214, 210, 210, 0.977);
  color: rgb(113, 112, 112);
}
