.App {
  text-align: center;
  &-header p {
    text-align: left;
    width: 100%;
    margin: 20px;
    padding: 5px;
    font-size: 25px;
    background-color: rgba(214, 210, 210, 0.977);
    color: rgb(113, 112, 112);
  }
  &-body{
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &-lists{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

